<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Message #<%= @message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_message/<%= @message.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Host.all, :id, :created_at, @message.host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <input type="text" id="guest_id" name="guest_id" placeholder="Guest" class="form-control" value="<%= @message.guest_id %>">
      </div>

      <!-- Label and input for from_host -->
      <div class="checkbox">
        <label for="from_host">
          <input type="checkbox" id="from_host" name="from_host" value="1" <%= "checked" if @message.from_host %>>
          From host
        </label>
      </div>

      <!-- Label and input for message -->
      <div class="form-group">
        <label for="message" class="control-label">
          Message
        </label>

        <input type="text" id="message" name="message" placeholder="Message" class="form-control" value="<%= @message.message %>">
      </div>

      <button class="btn btn-warning">
        Update Message
      </button>
      or
      <a href="/messages/<%= @message.id %>">Cancel</a>
    </form>
  </div>
</div>
