<div class="page-header">
  <h3>Listing #<%= @listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @listing.title %></dd>

      <dt>Private room</dt>
      <dd><%= @listing.private_room %></dd>

      <dt>Entire home</dt>
      <dd><%= @listing.entire_home %></dd>

      <dt>Description</dt>
      <dd><%= @listing.description %></dd>

      <dt>No of bedrooms</dt>
      <dd><%= @listing.no_of_bedrooms %></dd>

      <dt>No of bathrooms</dt>
      <dd><%= @listing.no_of_bathrooms %></dd>

      <dt>No of beds</dt>
      <dd><%= @listing.no_of_beds %></dd>

      <dt>Max occupancy</dt>
      <dd><%= @listing.max_occupancy %></dd>

      <dt>City</dt>
      <dd><%= @listing.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @listing.neighborhood %></dd>

      <dt>Default price per night</dt>
      <dd><%= @listing.default_price_per_night %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/listings" class="btn btn-primary">
        Back
      </a>
      <a href="/listings/<%= @listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_listing/<%= @listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Listing has many hostphotos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Hostphotos
      </li>

      <% @listing.hostphotos.each do |hostphoto| %>
        <li class="list-group-item">
          <a href="/hostphotos/<%= hostphoto.id %>">
            <%= hostphoto.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/hostphotos/<%= hostphoto.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/hostphotos/<%= hostphoto.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_hostphoto/<%= hostphoto.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_hostphoto" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for photo_id -->
      <div class="form-group">
        <label for="photo_id" class="control-label">
          Photo
        </label>

        <%= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Hostphoto
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many hostpolicies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Hostpolicies
      </li>

      <% @listing.hostpolicies.each do |hostpolicy| %>
        <li class="list-group-item">
          <a href="/hostpolicies/<%= hostpolicy.id %>">
            <%= hostpolicy.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/hostpolicies/<%= hostpolicy.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/hostpolicies/<%= hostpolicy.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_hostpolicy/<%= hostpolicy.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_hostpolicy" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for policy_id -->
      <div class="form-group">
        <label for="policy_id" class="control-label">
          Policy
        </label>

        <%= select_tag(:policy_id, options_from_collection_for_select(Policy.all, :id, :description), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Hostpolicy
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many availibiliities -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Availibiliities
      </li>

      <% @listing.availibiliities.each do |availibiliity| %>
        <li class="list-group-item">
          <a href="/availibiliities/<%= availibiliity.id %>">
            <%= availibiliity.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/availibiliities/<%= availibiliity.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/availibiliities/<%= availibiliity.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_availibiliity/<%= availibiliity.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_availibiliity" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <!-- Label and input for is_available -->
      <div class="checkbox">
        <label for="is_available">
          <input type="checkbox" id="is_available" name="is_available" value="1" <%= "checked" if @availibiliity.is_available %>>
          Is available
        </label>
      </div>

      <!-- Label and input for message -->
      <div class="form-group">
        <label for="message" class="control-label">
          Message
        </label>

        <input type="text" id="message" name="message" placeholder="Message" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Availibiliity
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many hostlistings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Hostlistings
      </li>

      <% @listing.hostlistings.each do |hostlisting| %>
        <li class="list-group-item">
          <a href="/hostlistings/<%= hostlisting.id %>">
            <%= hostlisting.host_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/hostlistings/<%= hostlisting.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/hostlistings/<%= hostlisting.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_hostlisting/<%= hostlisting.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_hostlisting" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Host.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Hostlisting
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many requests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requests
      </li>

      <% @listing.requests.each do |request| %>
        <li class="list-group-item">
          <a href="/requests/<%= request.id %>">
            <%= request.guest_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requests/<%= request.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requests/<%= request.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_request/<%= request.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_request" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for request_accepted -->
      <div class="checkbox">
        <label for="request_accepted">
          <input type="checkbox" id="request_accepted" name="request_accepted" value="1" <%= "checked" if @request.request_accepted %>>
          Request accepted
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Request
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many listingreviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listingreviews
      </li>

      <% @listing.listingreviews.each do |listingreview| %>
        <li class="list-group-item">
          <a href="/listingreviews/<%= listingreview.id %>">
            <%= listingreview.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/listingreviews/<%= listingreview.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/listingreviews/<%= listingreview.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_listingreview/<%= listingreview.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_listingreview" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <!-- Label and input for accuracy -->
      <div class="form-group">
        <label for="accuracy" class="control-label">
          Accuracy
        </label>

        <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control" value="">
      </div>

      <!-- Label and input for communication -->
      <div class="form-group">
        <label for="communication" class="control-label">
          Communication
        </label>

        <input type="text" id="communication" name="communication" placeholder="Communication" class="form-control" value="">
      </div>

      <!-- Label and input for cleanliness -->
      <div class="form-group">
        <label for="cleanliness" class="control-label">
          Cleanliness
        </label>

        <input type="text" id="cleanliness" name="cleanliness" placeholder="Cleanliness" class="form-control" value="">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="">
      </div>

      <!-- Label and input for check_in -->
      <div class="form-group">
        <label for="check_in" class="control-label">
          Check in
        </label>

        <input type="text" id="check_in" name="check_in" placeholder="Check in" class="form-control" value="">
      </div>

      <!-- Label and input for value -->
      <div class="form-group">
        <label for="value" class="control-label">
          Value
        </label>

        <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Listingreview
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Listing has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @listing.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.guest_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <input type="hidden" name="listing_id" value="<%= @listing.id %>">

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
