<div class="page-header">
  <h1>
    Availibiliities
    <a href="/availibiliities/new" class="btn btn-lg btn-success">New Availibiliity</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Listing</th>
        <th>Date</th>
        <th>Price</th>
        <th>Is available</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>

      <% @availibiliities.each do |availibiliity| %>
      <tr>
        <td><%= availibiliity.listing.title %></td>
        <td><%= availibiliity.date %></td>
        <td><%= availibiliity.price %></td>
        <td><%= availibiliity.is_available %></td>
        <td><%= availibiliity.message %></td>
        <td>
          <a href="/availibiliities/<%= availibiliity.id %>" class="btn btn-primary">Show</a>
          <a href="/availibiliities/<%= availibiliity.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_availibiliity/<%= availibiliity.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
