<!-- Validation failure messages -->
<% if @hostpolicy.errors.any? %>
  <% @hostpolicy.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Hostpolicy #<%= @hostpolicy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_hostpolicy/<%= @hostpolicy.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title, @hostpolicy.listing_id), :class => "form-control") %>
      </div>

      <!-- Label and input for policy_id -->
      <div class="form-group">
        <label for="policy_id" class="control-label">
          Policy
        </label>

        <%= select_tag(:policy_id, options_from_collection_for_select(Policy.all, :id, :description, @hostpolicy.policy_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Hostpolicy
      </button>
      or
      <a href="/hostpolicies/<%= @hostpolicy.id %>">Cancel</a>
    </form>
  </div>
</div>
