<div class="page-header">
  <h3>Hostpolicy #<%= @hostpolicy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Listing</dt>
      <dd>
        <% if @hostpolicy.listing.present? %>
          <a href="/listings/<%= @hostpolicy.listing_id %>">
            <%= @hostpolicy.listing.title %>
          </a>
        <% end %>
      </dd>

      <dt>Policy</dt>
      <dd>
        <% if @hostpolicy.policy.present? %>
          <a href="/policies/<%= @hostpolicy.policy_id %>">
            <%= @hostpolicy.policy.description %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/hostpolicies" class="btn btn-primary">
        Back
      </a>
      <a href="/hostpolicies/<%= @hostpolicy.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_hostpolicy/<%= @hostpolicy.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
