<!-- Validation failure messages -->
<% if @hostlisting.errors.any? %>
  <% @hostlisting.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Hostlisting #<%= @hostlisting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_hostlisting/<%= @hostlisting.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Host.all, :id, :created_at, @hostlisting.host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for listing_id -->
      <div class="form-group">
        <label for="listing_id" class="control-label">
          Listing
        </label>

        <%= select_tag(:listing_id, options_from_collection_for_select(Listing.all, :id, :title, @hostlisting.listing_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Hostlisting
      </button>
      or
      <a href="/hostlistings/<%= @hostlisting.id %>">Cancel</a>
    </form>
  </div>
</div>
