<div class="page-header">
  <h3>Hostlisting #<%= @hostlisting.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @hostlisting.host.present? %>
          <a href="/hosts/<%= @hostlisting.host_id %>">
            <%= @hostlisting.host.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Listing</dt>
      <dd>
        <% if @hostlisting.listing.present? %>
          <a href="/listings/<%= @hostlisting.listing_id %>">
            <%= @hostlisting.listing.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/hostlistings" class="btn btn-primary">
        Back
      </a>
      <a href="/hostlistings/<%= @hostlisting.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_hostlisting/<%= @hostlisting.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
