<!-- Validation failure messages -->
<% if @host_as_guest.errors.any? %>
  <% @host_as_guest.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Host As Guest #<%= @host_as_guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_host_as_guest/<%= @host_as_guest.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for host_id -->
      <div class="form-group">
        <label for="host_id" class="control-label">
          Host
        </label>

        <%= select_tag(:host_id, options_from_collection_for_select(Host.all, :id, :created_at, @host_as_guest.host_id), :class => "form-control") %>
      </div>

      <!-- Label and input for guest_id -->
      <div class="form-group">
        <label for="guest_id" class="control-label">
          Guest
        </label>

        <%= select_tag(:guest_id, options_from_collection_for_select(Guest.all, :id, :created_at, @host_as_guest.guest_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Host As Guest
      </button>
      or
      <a href="/host_as_guests/<%= @host_as_guest.id %>">Cancel</a>
    </form>
  </div>
</div>
