<div class="page-header">
  <h3>Host As Guest #<%= @host_as_guest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Host</dt>
      <dd>
        <% if @host_as_guest.host.present? %>
          <a href="/hosts/<%= @host_as_guest.host_id %>">
            <%= @host_as_guest.host.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Guest</dt>
      <dd>
        <% if @host_as_guest.guest.present? %>
          <a href="/guests/<%= @host_as_guest.guest_id %>">
            <%= @host_as_guest.guest.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/host_as_guests" class="btn btn-primary">
        Back
      </a>
      <a href="/host_as_guests/<%= @host_as_guest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_host_as_guest/<%= @host_as_guest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
