<div class="page-header">
  <h3>Policy #<%= @policy.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @policy.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/policies" class="btn btn-primary">
        Back
      </a>
      <a href="/policies/<%= @policy.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_policy/<%= @policy.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Policy has many hostpolicies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Hostpolicies
      </li>

      <% @policy.hostpolicies.each do |hostpolicy| %>
        <li class="list-group-item">
          <a href="/hostpolicies/<%= hostpolicy.id %>">
            <%= hostpolicy.listing_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/hostpolicies/<%= hostpolicy.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/hostpolicies/<%= hostpolicy.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_hostpolicy/<%= hostpolicy.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
